<mat-toolbar class="example-header">{{ title }}</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="/alpha-shapes" routerLinkActive="active" ariaCurrentWhenActive="page">Alpha
        Shapes</a>
      <a mat-list-item routerLink="/maze" routerLinkActive="active" ariaCurrentWhenActive="page">Maze</a>
      <a mat-list-item routerLink="/complexity" routerLinkActive="active" ariaCurrentWhenActive="page">Complexity</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer">Footer</mat-toolbar>