<mat-toolbar class="app-header">
  <div class="app-title">{{ title }}</div>
  @if (isAlphaShapes()) {
    <button mat-raised-button (click)="openVoronoiDialog()">Voronoi Controls</button>
  }
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="/alpha-shapes" routerLinkActive="active" ariaCurrentWhenActive="page">Alpha
        Shapes</a>
      <a mat-list-item routerLink="/complexity" routerLinkActive="active" ariaCurrentWhenActive="page">Complexity</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="app-footer">Footer</mat-toolbar>